.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    /* border-bottom-width: 1px; */
    border-bottom-color:whitesmoke ;
}

#left1img{
    width: 50px;
    margin-right: 10px;
    border-style: hidden;
    margin: 20px;
    background-color: white;
}
#youlogo{
    width: 130px;
    margin: 10px;
}
#upload{
    width: 50px;
    margin: 10px;
    background-color: rgb(220, 215, 215);
    border-radius: 34px;
    border-color: lightgray;
}
#apps{
    width: 50px;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 34px;
    border-color: lightgray;
}
#serach{
    width: 50px;
    /* margin: 10px; */
    margin-left: 5px;
    background-color: lightgrey;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-color: lightgray;


}
#voice{
    width: 50px;
    /* margin: 10px; */
    margin-left: 25px;
    background-color: lightgrey;
    border-radius: 34px;
    border-color: lightgray;


}
#notifications{
    width: 50px;
    margin: 10px;
    background-color: lightgrey;
    border-radius: 34px;
    border-color: lightgray;
}
.left-section{
    /* background-color: beige; */
    display: flex;
    align-items: center;

}
.middle-section{
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: blue; */
    max-width: 700px;
    display: flex;
    align-items: center;
}
.right-section{
    display:flex;
    align-items: center;
    width: 250px;
    margin-right: 50px;
    justify-content: space-between;
  

}
/*  */
.search-bar{
 
   height: 40px;
   width: 400px;
   padding-left: 10px;
   background-color:lightgrey;
   font-size: 16px;
   box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
   border-style: solid;
   border-color: rgb(192, 192, 192);
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
